*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#f4f4f4;
    padding:20px;
    background:linear-gradient(to right,#2563eb,#7c3aed);
}

header {
    padding: 20px;
    text-align: center;
    color: white;
    border-radius: 10px;
    background: #1e3a8a;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    transition: transform 0.3s ease;
}

header:hover {
    transform: scale(1.02);
}